
.blurred-box{
    box-shadow: 0px 0px 5rem 10rem white;
    color:#777;    
    
    /* z-index: 1000 !important; */
}
.blurred-box h2{
    position:relative;
    font-size: 3rem;
    font-weight: 500;

}

.blurred-box h3{
    position:relative;
    font-size: 1.8rem;
    font-weight: 400;
}
.fucsia{
    background-color: #FD4F78;
}


#primer-frame h1{
    font-family: 'Yantramanav', sans-serif;
    font-size: 3.2rem;
    font-weight: bolder;
    text-shadow: 0px 0px 15px rgba(0,0,0,0.4);
}

nav{
    position: fixed;
    padding: 10px;
    z-index: 1000;
}
nav img{
    width: 100%;
}

.transparente{
    background-color: rgba(0,0,0,0);
}
#btn-nav{
    background-color: rgba(0,0,0,0.15);
    border:solid 1px rgba(255,255,255,0.8);
    box-shadow: none;
    border-radius: 5px;
}
#steps-banner{
    padding-top: 25%;
}
#desc h3{
    font-size: 2rem;
}
#desc h4{
    font-size: 1.5rem;
}
#desc img{
    border:solid 4px;
}
#destinations img{
    padding: 0;
}

#first-row{
    margin-bottom: 0 !important;
     z-index: 0; 
}
.image h3{
    text-shadow: 3px 2px 9px rgba(0, 0, 0, 0.7);
    color: white;
    position: absolute;
    /*margin:3rem 0 0 5rem;*/
    text-align: center;
    /*clear: both;*/
}

.image { 
    position: relative; 
    width: 100%; 
}
form{
    margin-top: 7rem;
}
form button{
    margin-top:2.5rem;
}
.input-field label,#btn-send{
    font-size: 1.5rem;
}
#social-icons{
    margin-top: -5rem;
    font-size: 2.5rem;
    color: white;
}
#social-icons p{
    font-size: 1.2rem;
    font-weight:  lighter;
}

#blurred-form{
    padding: 0;
}
#info-2{
    z-index: 1000;
}
#barra{
    box-shadow: none;
}

#btn-send{
    border-radius: 5px;
}

li{
    list-style: none !important;
}