#index-banner{
    min-height: 70rem;
    font-family: 'Yantramanav', sans-serif;
    text-shadow: 0px 0px 15px rgba(0,0,0,0.4);
    color:#fff;
}
#index-banner h1{
    font-weight: 900;
    font-size: 3rem;
}
#index-banner h3{
    font-size:1.8rem;
    font-weight: 300;
    text-shadow: 0px 0px 10px rgba(0,0,0,0.6);
    margin-bottom: 4rem;
}
#index-banner img{
    max-width: 200px;
    margin-top:3rem;
}
#primer-frame{
    margin-top: 8rem;

}
#primer-frame h2{
    position: relative;
    font-weight: 700;
}
#social-expert{
    font-size: 2rem;
}
.blurred-box{
    font-family: 'Yantramanav', sans-serif;
}

/*[type="radio"]:not(:checked) + label:before {
    border-radius: 0px;
}
[type="radio"] + label:before, [type="radio"] + label:after{
     right: 0; 
    left:auto;
    top: 0.7rem;
}
[type="radio"]:checked + label:after{
    border: 2px solid rgb(255, 255, 255);
    background-color: #5626A6;
    border-radius: 20%;
}

.plan{
    border:1px solid;
}*/

.card-panel{
    padding: 0px;
    padding-bottom: 1rem;
}
.card-panel h4{
    font-size: 1.6rem;
    padding: 1rem 0 1rem 0;
}
.checked{
    border-color: #8989ff;
}
.checked h4{
    background-color: #8989ff;
    color: white;
}
.checked h5{
    color: #8989ff;
}
.unchecked{
    border-color: #594B95;
}
.unchecked h4{
    background-color: #F6F6F6;
    color:  #594B95;
}
.unchecked h5{
    color:  #594B95;
}

.card-panel ul{
    text-align: left;


}
.card-panel li{
    list-style-type: none;
    margin-left: 0.4rem;
}

.lis{
    margin: 0 0 0 0rem;
}


.car{
    margin-bottom: 3px;
}
.fa-check{
    color: #ccccf8;
}
.fa-times{
    color: #594B95;
}
.check-here{
    color: #8C8C93;
}
.check-here h2{
    font-size: 2.5rem;
    font-weight: normal;
}
.check-here h3{
    font-size: 3.5rem;
    border: #8C8C93 solid 2px;
    padding: 0.5rem;
    font-weight: normal;
}
.check-here a{
    color: #8C8C93;
    
}
