body{
    background: white;
}

/*Agrega fondo a la navbar y la hace mÃ¡s alta*/
#navbar{
    /*    background: linear-gradient(
          rgba(255, 245, 245, 0.8), 
          rgba(255, 245, 2450, 0.8)
        ), url("../img/navback.gif");*/
    background-color: white;
    height: 100px;
}

/*da el tamaÃ±o adecuado al logo*/
#logo{
    height: 150px;
}
/*Da tamaÃ±o a la navbar*/
.desktop-nav a{
    font-size: 1.2rem;
    margin:1.3rem 0 0 0;
    height: 100%;
}
.desktop-nav {
    height: 100%;
}
.desktop-nav li{
    height: 100%;
}
/*resalta la selecciÃ³n en la navbar de escritorio*/
.desktop-nav li:hover{
    background-color: rgba(255, 255, 255, 0.45);
}
/*Mueve el texto abajo a la derecha y le da sombra*/
#header-principal{
    position: absolute;
    bottom: 0;
    right: 3rem;
    font-size: 3rem;
    text-shadow: -1px 0 grey, 0 1px grey, 1px 0 grey, 0 -1px grey;
}
/*Aclara la imagen*/
.parallax-container{
    background-color: rgba(255,255,255,0.2);
}
.redonda{
    border-radius: 15px;
}

.card-content{
    padding-left: 1rem;
    /*padding-right: 1rem;*/
}
.card-image{
    max-height: 400px;
}
.contenedor{
    margin:3%;
}
#libro{
    background-color: #EF3644;
    color: white;
}
#yauda{
    background-color: #CBBF97;
    color: white;
}
a{
    color:#CBBF97;
}